# Build artifacts
dist/
build/
*.spec

# Local Database
*.db

# Generated Visualizations
axiom_graph.html
*.html_tmp

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# --- IDE / Editor specific files ---
.vscode/
.idea/

# Local Environment
.venv
venv/
env/
lib/
.env

# MacOS junk
.DS_Store