# Build artifacts
dist/
build/
*.spec
/axiom_engine.egg-info

# Local Database
*.db

# Generated Visualizations
axiom_graph.html
axiom_brain.html
*.html_tmp

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# --- IDE / Editor specific files ---
.vscode/
.idea/
AxiomEngine.code-workspace

# Local Environment
.venv
venv/
env/
lib/
.env

# MacOS junk
.DS_Store